{% extends "quatropack/base.html" %}
{% load static %}
{% block title %} {{ block.super }} fake {% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-xl-4 mb-3">
            Camino de los garres 15
            <br>
            30012 Murcia
            <hr>
            <i class="fas fa-phone"></i> tel: +34 968 345 219
            <br>
            <i class="fas fa-at"></i> info@<b>quatro</b>pack.com
            <hr>
            {% if data.title %}
            <h4>{{ data.title }}</h4>
            {% endif %}
            <a href="{{ data.link }}">
                <img src="{{ data.image }}" alt="exhibition">
            </a>
        </div>
    </div>
{% endblock %}

