{% extends "quatropack/base.html" %}
{% load static i18n %}

{% block title %} {{ block.super }} {{ name }} {% endblock %}

{% block styles %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'quatropack/styles/qp-text-scroller.css' %}" />
{% endblock %}

{% block nav_menu %}
    <span class="qp-tech-name">{{ name }}</span>
{% endblock nav_menu %}

{% block content %}
    <div class="qp-main-container container">
        <div class="input-group justify-content-end">
            <div class="qp-text-scroller">
                Amplio rango de uso para opérculos entre 10mm y 120mm de diámetro.
                21cm / 8cm
                Producción enorme.
                Tamaño portátil.
            </div>
            {% if subtypes %}
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">models</div>
            </div>
            {% for item in subtypes %}
                <a class="btn btn-outline-secondary" href="#">{{ item.name }}</a>
            {% endfor %}
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon2">
                    <i class="fas fa-arrow-down"></i>
                </div>
            </div>
            {% endif %}
            <a class="btn btn-outline-dark qp-smooth-scroll" href="#examples">
                examples</a>
            <a class="btn btn-outline-dark qp-smooth-scroll" href="#benefits">
                benefits</a>
            <a class="btn btn-outline-dark qp-smooth-scroll" href="#logotypes">
                clients</a>
        </div>
        <!-- <hr> -->
        <div id="info" class="qp-info">
            <div class="qp-card card h-100 pt-3">
                <img class="card-img-top"
                        src="{{ image }}" alt="{{ name }}">
                <div class="card-body">
                    <!-- <h5 class="card-title">{{ name }}</h5> -->
                    <p class="card-text text-justify _mb-5">{{ description }}</p>
                </div>
            </div>
        </div>
        <hr>
        <div id="examples">
            <a class="" href="{% url 'quatropack:devices' %}?is_examples=true">
                <div class="qp-carousel-examples owl-carousel owl-theme _row">
                    {% for item in examples %}
                        <div class="item">
                            <img class="" alt="{{ item.name }}"
                                    src="{{ item.image }}">
                        </div> 
                    {% endfor %}
                </div>
            </a>
            <!--
            <div class="qp-row row justify-content-center qp-bg-color">
                {% for item in examples %}
                    <div class="qp-ex-col col-xs-6 col-sm-4 col-md-3">
                        <img class='card-img-top m-2'
                                src="{{ item.image }}" alt="{{ item.name }}">
                    </div>
                {% endfor %}
            </div>
            -->
        </div>        
        <hr>
        <div id="benefits">
            <a class="" href="{% url 'quatropack:benefits' %}">
                <div class="qp-carousel-benefits owl-carousel owl-theme _row">
                    {% for item in benefits %}
                        <div class="item">
                            <img class="" alt="{{ item.name }}"
                                    src="{{ item.image }}">
                        </div>
                    {% endfor %}
                </div>
            </a>
            <!--
            <div class="qp-row row justify-content-center qp-bg-color">
                {% for item in benefits %}
                    <div class="qp-ex-col col-xs-6 col-sm-4 col-md-3">
                        <img class='card-img-top m-2'
                                src="{{ item.image }}" alt="{{ item.name }}">
                    </div>
                {% endfor %}
            </div>
            -->
        </div>        
        <hr>
        <a id="logotypes" class="" href="{% url 'quatropack:clients' %}">
            <div class="qp-carousel-logotypes owl-carousel owl-theme _row">
                {% for item in logotypes %}
                    <div class="item">
                        <img class="" alt="{{ item.name }}"
                                src="{{ item.image }}">
                    </div>
                {% endfor %}
            </div>
        </a>
        <!--
        <div id="logotips">
            <div class="qp-row row justify-content-center qp-bg-color">
                {% for item in logotypes %}
                    <div class="qp-ex-col col-xs-6 col-sm-4 col-md-3">
                        <img class='card-img-top m-2'
                                src="{{ item }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        -->
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
        <script src="{% static 'quatropack/scripts/qp-text-scroller.js' %}"></script>
{% endblock %}