{% load static i18n %}
{% include 'quatropack/subfooter.html' %}
<footer class="qp-footer">
    <div class="qp-footer-top">
        <div class="container h-100">
            <div class="row h-100 justify-content-between align-items-center">
                <div class="col">
                    Quatropack Tecnologías S.L.
                    <br>
                    Camino de los garres 15
                    <br>
                    30012 Murcia
                    <br>
                    {% trans 'España' %}
                </div>
                <div class="col text-center qp-footer-center">
                    <div class="d-flex justify-content-center">
                        <a href="{% if '/v2/' == request.path %} # {% else %} {% url 'quatropack:home' %} {% endif %}">
                            <!--
                            <img src="{% static 'quatropack/images/qp-icon-32a.png' %}" alt="logo">
                            <span class="qp-quatropack"><b>quatro</b>pack</span>
                            <img src="{% static 'quatropack/images/quatropack logo dark.png' %}" alt="logo">
                            -->
                            <div class="qp-logo-dark"></div>
                        </a>
                    </div>
                </div>
                <div class="col text-right">
                    <a class='mail-link' href="mailto:info@quatropack.com">info@<span class="qp-quatropack"><b>quatro</b>pack</span>.com</a>
                    <br>
                    <a href="tel:+34968345219">+34 968 345 219</a>
                </div>
            </div>
        </div>
    </div>
    <div class="qp-footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="qp-privacy-links col-8">
                    {% trans 'Copyright' %} <span class="qp-quatropack"><b>quatro</b>pack</span> | {% trans 'All Rights Reserved' %} | 
                    <!--
                    <span class='qp-space'></span>
                    -->
                    <a href="{% if 'privacy-policy' in request.path %} # {% else %} {% url 'quatropack:privacy-policy' %} {% endif %}" 
                            class="{% if 'privacy-policy' in request.path %}disabled {% endif %}text-nowrap">
                        {% trans 'Política Privacidad' %}
                    </a>|
                    <!--
                    <span class='qp-space'></span>
                    -->
                    
                    <a href="{% if 'legal-terms' in request.path %} # {% else %} {% url 'quatropack:legal-terms' %} {% endif %}" 
                            class="{% if 'legal-terms' in request.path %}disabled {% endif %}text-nowrap">
                        {% trans 'Legal Terms' %}
                    </a>
                </div>
                <div class="col qp-media-links text-right">
                    <a href='https://about.linkedin.com'>
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href='https://www.youtube.com/user/quatropack'>
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="mailto:info@quatropack.com">
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
