{% load static i18n %}
<header class="qp-header fixed-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="qp-brand text-nowrap">
                    <a href="{% if '' == request.path %} # {% else %} {% url 'quatropack:home' %} {% endif %}">
                        <!--
                        <img src="{% static 'quatropack2/images/qp-icon-32.png' %}" alt="logo">
                        <span class="qp-quatropack"><b>quatro</b>pack</span>
                        <img src="{% static 'quatropack2/images/quatropack logo small.png' %}" alt="quatropack">
                        -->
                        
                        <div class="qp-logo-small"></div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="qp-menu-button text-right">
                    <button class="navbar-toggler collapsed">
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
