{% load static i18n %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static 'ex/ex1.scss' %}" />
        <link rel="stylesheet" type="text/css" href='/static/ex/ex2.css' />
    
    
    <link rel="shortcut icon" type="image/x-icon"
        href="{% static 'quatropack/images/qp.ico' %}">
    
    <title>i</title>
</head>
<body>
</body>
    quatropack\i.html
</html>