{% extends "quatropack/base.html" %}
{% load static i18n %}

{% block styles %}
    {{ block.super }}
        <link rel="stylesheet" type='text/css'
            href="{% static 'quatropack/styles/qp-loading.css' %}">
{% endblock %}

{% block content %}
<div class="qp-loading">
    <div class="qp-indicator"></div>
</div>

<div class="qp-main-container container">
    <h1 class='qp-title'>
        Los especialistas en sellado
    </h1>
    <h2>
        quatropack es el líder en soluciones de sellado para la industria alimentaria, química y agroquímica, de automoción, cosmética y farmaceútica.
    </h2>
    
    <br>
    <br>
    <br>
    <!--<h4>examples</h4>-->
    <div class="qp-carousel-examples owl-carousel owl-theme _row">
        {% for item in examples %}
            <a class='' href="{% url 'quatropack:devices' %}?is_examples=true">
                <div class="item">
                    <img class="" alt="{{ item.name }}"
                            src="{{ item.image }}">
                </div> 
            </a>
        {% endfor %}
    </div>
    <br>
    <br>
    <!--
    <h4>benefits</h4>    
    <hr>
    -->
    <a class='' href="{% url 'quatropack:benefits' %}">
        <div class="qp-carousel-benefits owl-carousel owl-theme _row">
            {% for item in benefits %}
                <div class='item'>
                    <img class="" alt="{{ item.name }}"
                            src="{{ item.image }}">
                </div>
            {% endfor %}
        </div>
    </a>
    <br>
    <br>
    <a class='' href="{% url 'quatropack:clients' %}">
        <div class="qp-carousel-logotypes owl-carousel owl-theme _row">
            {% for item in logotypes %}
                <div class='item'>
                    <img class="" alt="{{ item.name }}"
                            src="{{ item.image }}">
                </div>
            {% endfor %}
        </div>
    </a>
</div>
{% endblock content %}
