{% load static i18n %}

<div class="ml-auto qp-lang text-right">
    {% get_current_language as LANGUAGE_CODE %}
    <button type="button" id="dropdownMenuButton" 
            class="qp-lang-btn btn btn-outline-secondary dropdown-toggle" 
            data-flip="true" boundary="viewport"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'quatropack/images/langs/' %}{{ LANGUAGE_CODE }}.png"> 
        <span>{{ LANGUAGE_CODE }}</span>
    </button>

    <div class="qp-lang-dd dropdown-menu container1" aria-labelledby="dropdownMenuButton"
            data-flip="true" boundary="viewport" offset="10rem">
        {% if LANGUAGE_CODE != 'es' %}
        <a class="dropdown-item" 
                href="{% url 'quatropack:setlang' 'es' %}">
            <img src="{% static 'quatropack/images/langs/es.png' %}"> <span>es</span>
        </a>
        {% endif %}
        {% if LANGUAGE_CODE != 'fr' %}
        <a class="dropdown-item" 
                href="{% url 'quatropack:setlang' 'fr' %}">
            <img src="{% static 'quatropack/images/langs/fr.png' %}"> <span>fr</span>
        </a>
        {% endif %}
        {% if LANGUAGE_CODE != 'en' %}
        <a class="dropdown-item" 
                href="{% url 'quatropack:setlang' 'en' %}">
            <img src="{% static 'quatropack/images/langs/en.png' %}"> <span>en</span>
        </a>
        {% endif %}
    </div>
</div>

