<div style="margin-left: 0px; position: relative; width: 1000px; z-index: 5; " id="body_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper">&nbsp;</div>

          <div id="id9" style="height: 154px; left: 38px; position: absolute; top: 108px; width: 491px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_491_154" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_10">La selladora manual portátil<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_10">por inducción.</p>
              </div>
            </div>
          </div>

          <div id="id10" style="height: 43px; left: 24px; position: absolute; top: 907px; width: 278px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_278_43" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_11">Panel de control de sencillo manejo<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_11">y lectura fácil.</p>
              </div>
            </div>
          </div>

          <div id="id11" style="height: 256px; left: 28px; position: absolute; top: 597px; width: 304px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_304_256" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_12"><span class="style_7">Super Seal Junior</span><br></p>
                <p class="paragraph_style_13">El modelo portátil para sellar por inducción.<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_14">Con un peso de 4,5Kg y unas dimensiones muy reducidas de <span class="style_8">21cm x 31cm x 8cm, permite sellar en cualquier sitio: con los envases sobre un pallet, en una caja abierta con varios envases dentro... Desde la linea de producción al laboratorio, mover este equipo a cualquier sitio y empezar a trabajar es muy rápido y sencillo.</span></p>
              </div>
            </div>
          </div>
          
          <div id="id12" style="height: 85px; left: 23px; position: absolute; top: 38px; width: 606px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_606_85" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_15">Super Seal Junior</p>
              </div>
            </div>
          </div>
          
          <div style="height: 435px; width: 686px;  height: 435px; left: 308px; position: absolute; top: 197px; width: 686px; z-index: 1; " class="tinyText style_SkipStroke_2 stroke_0">
            <img src="http://quatropack.com/Quatropack/supersealjunior_files/SupersealJr.png" alt="" style="border: none; height: 435px; width: 687px; ">
          </div>

          <div style="height: 240px; width: 278px;  height: 240px; left: 23px; position: absolute; top: 1143px; width: 278px; z-index: 1; " class="tinyText style_SkipStroke_3">
            <img src="http://quatropack.com/Quatropack/supersealjunior_files/Enercon_Duffel.jpg" alt="" style="border: none; height: 240px; width: 278px; ">
          </div>

          <div style="height: 175px; width: 367px;  height: 175px; left: 320px; position: absolute; top: 857px; width: 367px; z-index: 1; " class="tinyText style_SkipStroke_5">
            <img src="http://quatropack.com/Quatropack/supersealjunior_files/supersealjr2.jpg" alt="" style="border: none; height: 176px; width: 367px; ">
          </div>

          <div style="height: 8px; width: 452px;  height: 1px; left: 27px; position: absolute; top: 307px; width: 451px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 451px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_3.png" alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 452px; ">
            </div>
          </div>

          <div id="id14" style="height: 25px; left: 21px; position: absolute; top: 284px; width: 308px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_308_25" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_11">Bobina de inducción manual de alta eficiencia.</p>
              </div>
            </div>
          </div>

          <div style="height: 129px; width: 8px;  height: 128px; left: 644px; position: absolute; top: 206px; width: 0px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 0px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_4.png" alt="" style="height: 129px; left: 0px; margin-left: -4px; margin-top: -1px; position: absolute; top: 0px; width: 8px; ">
            </div>
          </div>

          <div style="height: 229px; width: 8px;  height: 228px; left: 792px; position: absolute; top: 418px; width: 1px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 1px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_5.png" alt="" style="height: 229px; left: 0px; margin-left: -4px; position: absolute; top: 0px; width: 8px; ">
            </div>
          </div>

          <div style="height: 8px; width: 452px;  height: 1px; left: 27px; position: absolute; top: 429px; width: 451px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 451px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_6.png" alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 452px; ">
            </div>
          </div>

          <div id="id15" style="height: 42px; left: 22px; position: absolute; top: 389px; width: 280px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_280_42" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_11">Amplio rango de uso para opérculos entre 10mm y 120mm de diámetro.</p>
              </div>
            </div>
          </div>

          <div id="id16" style="height: 25px; left: 794px; position: absolute; top: 625px; width: 137px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_137_25" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_11">Refrigerado por aire.</p>
              </div>
            </div>
          </div>

          <div id="id17" style="height: 44px; left: 644px; position: absolute; top: 198px; width: 206px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_206_44" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_11">Fuente de alimentación con circuitería avanzada.</p>
              </div>
            </div>
          </div>

          <div style="height: 170px; width: 8px;  height: 169px; left: 504px; position: absolute; top: 975px; width: 1px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 1px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_7.png" alt="" style="height: 170px; left: 0px; margin-left: -4px; position: absolute; top: 0px; width: 8px; ">
            </div>
          </div>

          <div id="id18" style="height: 43px; left: 503px; position: absolute; top: 1110px; width: 229px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_229_43" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_11">Indicador de sellado activo y<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_11">detector de falta de opérculo.</p>
              </div>
            </div>
          </div>

          <div id="id19" style="height: 83px; left: 557px; position: absolute; top: 741px; width: 178px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_178_83" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_11">Temporizador digital.<br></p>
                <p class="paragraph_style_11">Ajuste de potencia.<br></p>
                <p class="paragraph_style_11">Contador de envases.<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_11">Contador de opérculos.</p>
              </div>
            </div>
          </div>

          <div style="height: 207px; width: 8px;  height: 206px; left: 557px; position: absolute; top: 750px; width: 0px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 0px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_8.png" alt="" style="height: 207px; left: 0px; margin-left: -4px; margin-top: -1px; position: absolute; top: 0px; width: 8px; ">
            </div>
          </div>

          <div style="height: 8px; width: 480px;  height: 0px; left: 26px; position: absolute; top: 949px; width: 479px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 479px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_9.png" alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 480px; ">
            </div>
          </div>

          <div style="height: 8px; width: 363px;  height: 1px; left: 571px; position: absolute; top: 986px; width: 362px; z-index: 1; " class="tinyText">
            <div style="position: relative; width: 362px; ">
              <img src="http://quatropack.com/Quatropack/supersealjunior_files/shapeimage_10.png" alt="" style="height: 8px; left: 0px; margin-top: -4px; position: absolute; top: 0px; width: 363px; ">
            </div>
          </div>
          
          <div id="id20" style="height: 43px; left: 749px; position: absolute; top: 946px; width: 229px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_229_43" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_11">Indicador de sellado activo y<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_11">detector de falta de opérculo.</p>
              </div>
            </div>
          </div>
          
          <div id="id21" style="height: 99px; left: 36px; position: absolute; top: 1376px; width: 287px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_287_99" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_18">Maletín gratuito.<br></p>
                <p class="paragraph_style_11"><br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_11">Para poder llevar el equipo cómodamente donde quieras y guardarlo bien protegido.</p>
              </div>
            </div>
          </div>
          
    <div style="height: 1865px; line-height: 1865px; " class="spacer">&nbsp;</div>
</div>