<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
            
<div style="margin-left: 0px; position: relative; width: 1000px; z-index: 5; " id="body_layer">

<div id="id20" style="height: 131px; left: 28px; position: absolute; top: 93px; width: 447px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_447_131" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_20">La termoselladora por inducción más rápida.</p>
</div>
</div>
</div>

<div style="height: 368px; width: 551px;  height: 368px; left: 294px; position: absolute; top: 169px; width: 551px; z-index: 1; " class="tinyText stroke_0 reflection_0"><canvas width="551" height="91" style="position: absolute; top: 368px; margin-top: 2px; left: 0px;"></canvas>
<div style="position: relative; width: 551px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_9.png" alt="" style="height: 354px; left: 0px; margin-left: 7px; margin-top: 14px; position: absolute; top: 0px; width: 543px; ">
</div>
</div>

<div id="id21" style="height: 142px; left: 26px; position: absolute; top: 623px; width: 330px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_330_142" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-top: 0pt; " class="paragraph_style_21"><span class="style_7">Super Seal Max</span><br></p>
<p class="paragraph_style_22">El modelo alto de gama de la clase Super Seal™ <br></p>
<p style="padding-bottom: 0pt; " class="paragraph_style_23">La selladora por inducción más rápida jamás construida. Posibilidad de sellar tapones estándar de rosca, CRC, tapones sport o distribución, con diámetros entre 20mm y 120mm.</p>
</div>
</div>
</div>

<div id="id22" style="height: 85px; left: 23px; position: absolute; top: 18px; width: 528px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_528_85" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_24">Super Seal Max</p>
</div>
</div>
</div>

<div id="id24" style="height: 93px; left: 29px; position: absolute; top: 227px; width: 233px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_233_93" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Pantalla LCD de 40 caracteres de fácil uso que proporciona la información al operario de la línea. Botones táctiles tipo membrana, con símbolos de uso internacional. </p>
</div>
</div>
</div>

<div id="id25" style="height: 97px; left: 503px; position: absolute; top: 618px; width: 212px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_212_97" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Control por microprocesador, que permite la supervisión y lectura de todos los elementos críticos de rendimiento, inspección y funcionamiento. </p>
</div>
</div>
</div>

<div id="id26" style="height: 44px; left: 31px; position: absolute; top: 478px; width: 229px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_229_44" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Cabezales dobles de sellado de conexión rápida.</p>
</div>
</div>
</div>

<div id="id27" style="height: 59px; left: 584px; position: absolute; top: 97px; width: 323px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_323_59" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Estructura de altura regulable con volante manual que permite un ajuste rápido y sencillo para envases de altura o de medidas diferentes. </p>
</div>
</div>
</div>

<div id="id28" style="height: 68px; left: 721px; position: absolute; top: 214px; width: 254px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_254_68" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Sistema compacto en un bloque único que se monta fácilmente sobre la cinta transportadora.</p>
</div>
</div>
</div>

<div id="id29" style="height: 59px; left: 29px; position: absolute; top: 349px; width: 294px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_294_59" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Carenado IP65 para protección de la fuente de alimentación y de la electrónica.</p>
</div>
</div>
</div>

<div id="id30" style="height: 59px; left: 27px; position: absolute; top: 419px; width: 275px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_275_59" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_25">Circuitería avanzada IGBT que asegura una máxima eficiencia energética.</p>
</div>
</div>
</div>

<div id="id31" style="height: 42px; left: 808px; position: absolute; top: 470px; width: 176px; z-index: 1; " class="style_SkipStroke shape-with-text">
<div class="text-content graphic_textbox_layout_style_default_External_176_42" style="padding: 0px; ">
<div class="graphic_textbox_layout_style_default">
<p style="padding-top: 0pt; " class="paragraph_style_26">Diseños únicos de <br></p>
<p style="padding-bottom: 0pt; " class="paragraph_style_26">la bobina inductora.</p>
</div>
</div>
</div>

<div style="height: 297px; width: 8px;  height: 296px; left: 503px; position: absolute; top: 408px; width: 0px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 0px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_10.png" alt="" style="height: 297px; left: 0px; margin-left: -4px; position: absolute; top: 0px; width: 8px; ">
</div>
</div>

<div style="height: 8px; width: 207px;  height: 1px; left: 770px; position: absolute; top: 509px; width: 206px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 206px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_11.png" alt="" style="height: 8px; left: 0px; margin-top: -4px; position: absolute; top: 0px; width: 207px; ">
</div>
</div>

<div style="height: 123px; width: 8px;  height: 122px; left: 722px; position: absolute; top: 221px; width: 0px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 0px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_12.png" alt="" style="height: 123px; left: 0px; margin-left: -4px; margin-top: -1px; position: absolute; top: 0px; width: 8px; ">
</div>
</div>



<div style="height: 176px; width: 8px;  height: 175px; left: 585px; position: absolute; top: 106px; width: 0px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 0px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_13.png" alt="" style="height: 176px; left: 0px; margin-left: -4px; margin-top: -1px; position: absolute; top: 0px; width: 8px; ">
</div>
</div>



<div style="height: 8px; width: 477px;  height: 1px; left: 35px; position: absolute; top: 317px; width: 476px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 476px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_14.png" alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 477px; ">
</div>
</div>



<div style="height: 8px; width: 353px;  height: 0px; left: 36px; position: absolute; top: 389px; width: 352px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 352px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_15.png" alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 353px; ">
</div>
</div>



<div style="height: 8px; width: 355px;  height: 0px; left: 33px; position: absolute; top: 459px; width: 354px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 354px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_16.png" alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 355px; ">
</div>
</div>



<div style="height: 8px; width: 350px;  height: 0px; left: 39px; position: absolute; top: 517px; width: 349px; z-index: 1; " class="tinyText">
<div style="position: relative; width: 349px; ">
<img src="http://quatropack.com/Quatropack/supersealmax_files/shapeimage_17.png"
alt="" style="height: 8px; left: 0px; margin-left: -1px; margin-top: -4px; position: absolute; top: 0px; width: 350px; ">
</div>
</div>

<div style="height: 1118px; line-height: 1118px; " class="spacer">&nbsp;</div>
</div>
<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
<!--------------------------------------------------------------------->
