.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; /*centers the image*/
  /*
  height: 100%;
  width: auto;
  */
}

#grid {
    /*
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0; /* Clears unordered list default of 40px * /
    */
    background-color: black;
    overflow: hidden;
    height: 400px;
}

.grid-row {
    white-space: nowrap;
    overflow: hidden;
    width: 120%;
    display: block;
    margin-top: -1.3em;
}

.grid-row:nth-child(2n+1) {
    margin-left: -1.7em;
}

.grid-cell {
    /**
    list-style-type: none;
    width: 6.9%;
    padding: 0 0 8% 0;
    float: left;
    background: #fd005f;
    background: #fd005f;
    /**/
    margin-left: -0.8em;
    display: inline-block;
    position: relative;
    width: 69px;
    padding: 0 0 80px 0;
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
}

.hexagon {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    /**
    left: 0;
    width: 100%;
    background-image: url("http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg");
    background: #fdbf00;
    background: black;
    /**/
    background: #233;
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

/*
.hexagon img {
    height: 100%;
    background-x: 10%;
    width: 100%;
}
*/

.hexagon .grid-back {
    height: 100%;
    /**
    box-shadow:
		0 1px 0 rgba(255,255,255,.2),
		inset 0 4px 5px rgba(0,0,0,.6),
		inset 0 1px 0 rgba(0,0,0,.6);
    background-image: url("http://img1.wikia.nocookie.net/__cb20090714124528/firefly/images/thumb/1/11/Firefly_class_ship.jpg/100px-136,568,0,431-Firefly_class_ship.jpg");
    /**/
    background-image: url("back.png");
    background-size: 1980% 450%;
}

.grid-cell * {
    visibility: visible;
}
/*
#grid .cell:nth-child(6n+4) { 
    margin-left: 0.5%;
}
*/