{% load i18n %}
<div class="qp-feedbacks-container">
    <div class="container">
        <div class="qp-feedbacks">
        
            <div class="row justify-content-between">
            
                <div class="col-4">
                    <div class='qp-feedback'>
                        <div class='square-box'>
                            <div class='qp-fb-top qp-fb-top-probelte square-content'>
                                <div class='qp-logo-place'>
                                    <div class='qp-logo qp-logo-probelte'></div>
                                </div>
                            </div>
                        </div>
                        <div class='qp-fb-text'>
                            <div class="qp-top-quote">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="qp-phrase">
                                <i>{% trans "En la actualidad sellamos todos nuestros productos agroquímicos para exportarlos lejos en perfectas condiciones." %}</i>
                            </div>
                            <div class="qp-end-quote text-right">
                                <i class="fas fa-quote-right"></i>
                            </div>
                            <div class="text-right">
                                <a href="{%  url 'quatropack2:probelte'%}">{% trans 'leer mas' %}</a>
                            </div>
                        </div>
                        <div class='qp-fb-end'>
                            <div class="qp-sign">
                                {% trans 'José Manuel Casanova' %}
                                <br>
                                {% trans 'Gerente de Probelte' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class='qp-feedback'>
                        <div class='square-box'>
                            <div class='qp-fb-top qp-fb-top-maripaz square-content'>
                                <div class='qp-logo-place'>
                                    <div class='qp-logo qp-logo-maripaz'></div>
                                </div>
                            </div>
                        </div>
                        <div class='qp-fb-text'>
                            <div class="qp-top-quote">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="qp-phrase">
                                <i>{% trans "Muy buena experiencia de casi diez años gracias al servicio excelente de Quatropack, siempre ágiles y eficaces." %}</i>
                            </div>
                            <div class="qp-end-quote text-right">
                                <i class="fas fa-quote-right"></i>
                            </div>
                            <div class="text-right">
                                <a href="{%  url 'quatropack2:maripaz'%}">{% trans 'leer mas' %}</a>
                            </div>
                        </div>
                        <div class='qp-fb-end'>
                            <div class="qp-sign">
                                {% trans 'Enrique Montserrat' %}
                                <br>
                                {% trans 'Director Comercial de Maripaz' %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4">
                    <div class='qp-feedback'>
                        <div class='square-box'>
                            <div class='qp-fb-top qp-fb-top-bestprotein square-content'>
                                <div class='qp-logo-place'>
                                    <div class='qp-logo qp-logo-bestprotein'></div>
                                </div>
                            </div>
                        </div>
                        <div class='qp-fb-text'>
                            <div class="qp-top-quote">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="qp-phrase">
                                <i>{% trans "El sellado hermético por inducción mantiene mis productos en las mejores condiciones y alarga la caducidad." %}</i>
                            </div>
                            <div class="qp-end-quote text-right">
                                <i class="fas fa-quote-right"></i>
                            </div>
                            <div class="text-right">
                                <a href="{%  url 'quatropack2:bestprotein'%}">{% trans 'leer mas' %}</a>
                            </div>
                        </div>
                        <div class='qp-fb-end'>
                            <div class="qp-sign">
                                {% trans 'Jesús Ortega' %}
                                <br>
                                {% trans 'Gerente de Best Protein' %}
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>  <!-- qp-feedbacks>row -->
        
        </div> <!-- qp-feedbacks -->
    </div>
</div>
