{% extends "quatropack2/base.html" %}

{% load static i18n %}

{% block styles %}{{ block.super }}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'quatropack2/styles/loading-arc.css' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'quatropack2/styles/index.css' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'quatropack2/styles/products.css' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'quatropack2/styles/logotypes2.css' %}" />
{% endblock styles %}

{% block html_title %}{{ block.super }}/{% trans 'home' %}{% endblock %}

{% block content %}
    {# products peeled #}
    <div class="qp-sector-body-uno">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="ml-auto d-none d-md-block qp-products-peeled">
                        <div class="qp-image"></div> 
                    </div>
                    <div class="m-auto d-block d-md-none qp-products-peeled">
                        <div class="qp-image"></div> 
                    </div>
                    <br>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9 d-flex">
                    <div class="d-md-block text-left align-self-center">
                        <h3 class="qp-title qp-title-1"><b>{% trans 'Sellamos cada envase.' %}</b></h3>
                        <div class="qp-title qp-title-2 text-justify">
                            <span class="qp-quatropack"><b>quatro</b>pack</span>, {% trans 'especialista en sellado por inducción de envases para la industria. Distribuidor oficial Enercon para España y Portugal.' %}
                            <a class='_qp-button' href="{% url 'quatropack2:machines' %}">{% trans 'Ver nuestras selladoras.' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    
    {% include 'quatropack2/products.html' %}
    
    <br>
    
    {% include 'quatropack2/logotypes2.html' %}

    <br>
    <br>
    <div class="container">
        <hr class="w-50">
    </div>    
    
    {# short benefits #}
    <div class="qp-sector-body-dos">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <img src="{% static '/quatropack2/images/benefits/1.png' %}" 
                            alt="{% trans 'Prevenir las fugas' %}">
                    <h4 class="qp-title">
                        {% trans 'Prevenir las fugas' %}
                    </h4>
                    <div class="qp-text">
                        {% trans 'El sellado por inducción garantiza un envase estanco que puede soportar una considerable presión. Y seguirá herméticamente cerrado durante su almacenamiento, durante el transporte o antes de su uso por el consumidor.' %}
                        <span> {% trans 'Más información' %} <a href="{% url 'quatropack2:benefits' %}#benefit-1">{% trans 'aquí' %}</a>.</span>
                    </div>
                </div>
                <div class="col">
                    <img src="{% static '/quatropack2/images/benefits/2.png' %}" 
                            alt="{% trans 'Alargar la caducidad' %}">
                    <h4 class="qp-title">
                        {% trans 'Alargar la caducidad' %}
                    </h4>
                    <div class="qp-text">
                        {% trans 'Protegido en un ambiente hermético, el contenido se conserva dentro del envase en unas condiciones óptimas durante más tiempo. En algunos casos hasta 12 semanas.' %}
                        <span> {% trans 'Más información' %} <a href="{% url 'quatropack2:benefits' %}#benefit-2">{% trans 'aquí' %}</a>.</span>
                    </div>
                </div>
                <div class="col">
                    <img src="{% static '/quatropack2/images/benefits/3.png' %}" 
                            alt="{% trans 'Mantener la frescura' %}">
                    <h4 class="qp-title">
                        {% trans 'Mantener la frescura' %}
                    </h4>
                    <div class="qp-text">
                        {% trans 'Todas las propiedades se mantienen intactas en un ambiente donde nada entra y nada sale, preservando aquello que distingue su producto de los demás.' %}
                        <span> {% trans 'Más información' %} <a href="{% url 'quatropack2:benefits' %}#benefit-3">{% trans 'aquí' %}</a>.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    -->
    <div class="qp-loading">
        <div class="qp-indicator mx-auto"></div>
        <div class="qp-text text-center"><span class="qp-quatropack"><b>quatro</b>pack</span</div>
    </div>
{% endblock content %}

{% block scripts %}{{ block.super }}
    <script src="{% static 'quatropack2/scripts/loading-arc.js' %}"></script>
    <script src="{% static 'quatropack2/scripts/index.js' %}"></script>
    <script src="{% static 'quatropack2/scripts/products.js' %}"></script>
    <script src="{% static 'quatropack2/scripts/logotypes.js' %}"></script>
{% endblock scripts %}
