{% load static i18n %}

{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}

{% for code, name in AVAILABLE_LANGUAGES %}
    <a class="qp-lang-link {% if code == CURRENT_LANGUAGE %} disabled {% endif %}" 
            href="{% if code == CURRENT_LANGUAGE %} # {% else %} # {% endif %}">
        <img class="_d-none _d-sm-block" 
                src="{% static 'quatropack/images/langs/' %}{{ code }}.png">
        <span class="qp-lang d-none d-sm-block">
            {{code|language_name_local}}
        </span>
        <span class="qp-lang d-block d-sm-none">
            {{code}}
        </span>
    </a>
{% endfor %}

