{% extends "quatropack2/base.html" %}

{% load static i18n %}

{% block html_title %}{{ block.super }} {% trans 'Contactos' %} {% endblock %}

{% block styles %}{{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'quatropack2/styles/contacts.sass' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'quatropack2/styles/feedbacks.sass' %}" />
    {% endcompress %}
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="qp-title">
        Entrevista con Enrique Montserrat, Director comercial de Productos Maripaz.
    </div>
    <br>
    <br>
    <span class='qp-text'>
        Desde 1939 Productos Maripaz está dedicada a la elaboración y envasado de azafrán, pimentón, especias e infusiones. Productos Maripaz, presenta una amplia gama de especias envasada en diferentes formatos que se adaptan a la diferente demanda, desde el ama de casa hasta las industrias cárnicas, cocineros y restauradores.
    </span>
    <br>
    <br>
    <span class='qp-text font-weight-bold'>
        En la actualidad, ¿Qué productos sella?
    </span>
    <span class='qp-text'>
        Especias: desde pimentón, pimienta, todo tipo de hierbas, canela, laurel, etc.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿De qué tamaño son los envases?
    </span>
    <span class='qp-text'>
        Desde  1600ml  a  370ml.,  tanto  para hostelería e industria como para supermercados.
   </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿De qué material son?
    </span>
    <span class='qp-text'>
        De PET, aunque estamos madurando un proyecto para tarros pequeños de cristal.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Qué velocidad tiene su línea de producción?
    </span>
    <span class='qp-text'>
        De 15 a 20 unidades por minuto, hasta 50 por minuto en algunos casos puntuales.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Ha sellado siempre sus envases por inducción?
    </span>
    <span class='qp-text'>
        No,  pero  ya  hace  unos ocho años que sellamos por inducción y nos da muy buenos resultados. 
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Cuál  era  el  método  que  utilizaba  con  anterioridad  y  porque  decidió substituirlo?
    </span>
    <span class='qp-text'>
        Trabajábamos  con  precintos  de  garantía  tipo  etiqueta  pero  no eran estancos, es mucho más aséptico con el sellado por inducción.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Ha  modificado  o  cambiado  sus  envases  para  sellar  por  inducción?
    </span>
    <span class='qp-text'>
        No fue necesario.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Cuál  fue  la  principal  razón  que  le  llevo  a  decidirse  por  el  sellado  por inducción?
    </span>
    <span class='qp-text'>
        Sobre todo para el producto porque es un sellado completamente hermético. 
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Ha recibido algún beneficio esperado?
    </span>
    <span class='qp-text'>
        Mantenimiento del frescor, del color y sobre todo del aroma. ¡Para mantener el aroma es fantástico!
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Hay algún otro beneficio que haya conseguido usando el sellado por inducción que no esperase?
    </span>
    <span class='qp-text'>
        Mejora de la imagen de marca: da un punto de calidad que además entonces no tenía nadie en el sector.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Por qué el sellado por inducción es importante en su industria?
    </span>
    <span class='qp-text'>
        Porque con la luz y el oxigeno nuestro producto pierde color y aroma rápidamente, y con el sellado por inducción lo mantiene mucho más tiempo.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Como contribuye el sellado por inducción a conseguir los objetivos de su empresa?
    </span>
    <span class='qp-text'>
        Desde que lo hemos incorporado, el sellado por inducción nos aporta una serie de beneficios: Nuestros envases si están sellados atraen a más clientes y da ese plus de calidad con un envase mejor acabado. Conseguimos una mayor productividad y evitamos cualquier fuga de producto. Se alarga el frescor del producto, mantiene el color y sobre todo el aroma. Al final nos da mucha tranquilidad y garantía de no manipulación, que nos ha ahorrado problemas de reclamaciones.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Que fue determinante para elegir Enercon y Quatropack sobre otras marcas?
    </span>
    <span class='qp-text'>
        Sabíamos que son los mejores del mercado por su calidad y poco mantenimiento. Quatropack nos dio una formación imprescindible para usar correctamente las máquinas y sellar bien cada envase.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Qué tal está siendo la experiencia con la máquina Enercon?
    </span>
    <span class='qp-text'>
        Muy buena experiencia, de ocho años ya, gracias también al servicio excelente de Quatropack, proveedores en España. Son siempre ágiles y eficaces.
    </span>
    <br>
    <br>

    <span class='qp-text font-weight-bold'>
        ¿Recomendaría a Quatropack y a las selladoras por inducción Enercon a otras empresas?
    </span>
    <span class='qp-text'>
        Ya lo he hecho en varias ocasiones.
    </span>
    <br>
    <br>
    
    <span class='ml-5'></span>
</div>
<br>
<br>
<br>
<br>
<br>
{% include 'quatropack2/technology_banner.html' %}
<br>
<br>
{% endblock content %}
