{% load static i18n %}
{# short products #}
<div class="qp-sector-body-tres">
    <div class="container">
        <div class="qp-carousel-products owl-carousel owl-theme">
            {% for image in products %}
                <div class="item">
                    <img class="qp-image" src="{% static 'quatropack2/images/products/' %}{{ image }}"
                            alt="{% trans 'example' %} #{{ forloop.counter }}">
                </div> 
            {% endfor %}
        </div>
    </div>
</div>
