{% extends "quatropack2/base.html" %}

{% load static i18n %}

{% block html_title %}tarde{% endblock %}

{% block styles %}{{ block.super }}
    <style>
        body {
            background-image: url({% static 'quatropack2/images/winter.gif' %});
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div style='font-weight:800;font-size:500%;color:red;font-family:Comic Sans MS;'
                class='mt-5'>
            Feliz Navidad
        </div>
    </div>
{% endblock content %}
