{% load static i18n %}

<div class="qp-technology-banner">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-7 col-lg-8 col-xl-9">
                <a class="qp-technology" href="{% url 'quatropack2:technology' %}">
                    <img height="auto" width="100%" src="{% static 'quatropack2/images/' %}tv2.png" alt="technologias video"/>
                </a>
                <br>
                <br>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-3 text-justify">
                En este video, podrá ver cómo funciona el proceso del sellado por inducción, y conocer los elementos principales que intervienen en una termoselladora por inducción. Podrá ver líneas reales en producción y muchos ejemplos de productos sellados.
                <a class="qp-technology" href="{% url 'quatropack2:technology' %}">leer mas</a>
            </div>
        </div>
        
    </div>
</div>
