<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
		<!-- Fontawesome -->
		<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<!-- jQuery UI -->
		<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
		<!-- Index -->
		<link href="/static/bauglobal/index.css" rel="stylesheet">
    <!-- End CSS -->

    <title>Bauglobal</title>
	
	<link rel="icon" sizes="32x32" href="/static/bauglobal/images/bauglobal_32x32.png">
	<link rel="icon" sizes="64x64" href="/static/bauglobal/images/bauglobal_64x64.png">
</head>
<body>
	<nav class="bagl-navbar fixed-top navbar navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img class="brand" src="/static/bauglobal/images/bauglobal_32x32.png"></img>
			<span class="brand">bauglobal, s.l.</span>
		</a>
		<button class="navbar-toggler" type="button" 
				data-toggle="collapse" data-target="#navbar-sensitive-content" 
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-sensitive-content">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#home" data-toggle="collapse">
						<i class="fas fa-home"></i>
						home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#portfolio" data-toggle="collapse">
						<i class="fas fa-th"></i>
						<span class="d-sm-none d-md-inline">portfolio</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#calculator" data-toggle="collapse">
						<i class="fas fa-calculator"></i>
						<span class="d-sm-none d-md-inline">calculator</span>						
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contacts" data-toggle="collapse">
						<i class="fas fa-phone-volume"></i>
						contacts
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<span class="badge badge-secondary">En</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="pages" class="container my-5 pt-5">
		<div>
			<div id="home" class="collapse show1 text-center" data-parent="#pages">
				<h1>Everywhere in Spain</h1>
				<h5>and Europe</h5>
				<h1>Anytime</h1>
				<h5>365/24/7</h5>
				<h1>Fast</h1>
				<h5>no deadline</h5>
				<h5>in twice quickly</h5>
			</div>
		</div>
		<div>
			<div id="portfolio" class="collapse" data-parent="#pages">
				<div class="row">
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0030.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0031.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0033.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0045.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0046.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0030.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0031.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0033.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0045.jpg">
						<p class="card-text">description about this job</p>
					</div>					
					<div class="card w-25 pb-5">
						<img class='w-100 h-100' src="/static/bauglobal/jobs/IMG-20180114-WA0046.jpg">
						<p class="card-text">description about this job</p>
					</div>					
				</div>
			</div>
		</div>
		<div>
			<div id="calculator" class="collapse show" data-parent="#pages">
				<form>
					<div class="form-group row">
						<label for="floorArea" class="col-sm-4 col-form-label">floor area</label>
						<div class="col-sm">
							<input id="floorArea" name="floorArea" value="50.0">
						</div>
						<label class="col-sm-1 col-form-label">sq.m.</label>
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							option one
						</div>
						<div class="col-sm">
							<label for="checkbox-1"></label>
							<input class='my-chkbox' type="checkbox" name="checkbox-1" id="checkbox-1">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							option two
						</div>
						<div class="col-sm">
							<label for="checkbox-2"></label>
							<input class='my-chkbox' type="checkbox" name="checkbox-2" id="checkbox-2">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4">
							<button id='doCalc' type="button" class="btn btn-success">calculate</button>
						</div>
						<div class="col-sm">
							<input type="text" class='form-control' id="output" readonly>
						</div>
					</div>
					
				</form>
			</div>
		</div>
		<div>
			<div id="contacts" class="collapse" data-parent="#pages">
				<div class="row">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<i class="fas fa-3x fa-phone-volume"></i>
								<h1>+34 606 417 428</h1>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<i class="fas fa-3x fa-phone-volume"></i>
								<h1>+34 645 020 000</h1>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<i class="fas fa-3x fa-envelope"></i>
								<h1>info@bauglobal.es</h1>
							</li>
						</ul>
					</div>
					<div class="col">
						<div id="page-map" class='h-100'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Scripts -->
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
		<!-- Popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<!-- jQuery UI -->
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<!-- own -->
		<script src="/static/bauglobal/index.js"></script>
		<!-- google map -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDC-f-ODl984UO1dK8QlRBkv5fmiWFgqbU&callback=page_map_init" async defer></script>
	<!-- End scripts -->
</body>
</html>



