{% load static %}
{% comment base %}
    vista v2
    nueva vista
{% endcomment %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'comun/images/logo.png' %}">
    <title>Ahorre◌Energia</title>
    <link rel="stylesheet" href="{% static 'third/css/bootstrap.min.css' %}">
    <style>
        body
        {
            background: linear-gradient(45deg, rgba(78,138,0,1) 0%, rgba(179,255,107,1) 100%);
            background-attachment: fixed;
        }
        .c_transparent
        {
            background-color: transparent!important;
        }
        .c_content
        {
            background-color: blue;
            color: yellow;
            box-shadow: 0.1em 0.2em 0.5em 0.1em black;
            margin-bottom: 3em;
        }
    </style>
</head>
<body>
    <div class="jumbotron c_transparent pt-5 mt-5">
        <div class="content c_content px-5 py-3">
            <h3>Ahorre ◌ Energia</h3>
            <h5 class="text-secondary">vista nueva</h5>
            <p class="text-light">
                Soluciones completas para ahorrar su consumo de electricidad.
            </p>
            <p class="text-light">
                Diseñamos proyecto de nueva Instalación si se considerara esto como mejor opción, para ello le facilitamos detalle de los componentes de la misma y presupuesto del instalador, vd siempre puede elegir instalador.
            </p>
            <p class="text-light">
                Ver las posibilidades para ahorrar hasta 50% del coste de tu consumo.
            </p>
            <p class="text-light">
                Somos un grupo de profecionales alta cualificación técnica y gran experiencia en el sector.
            </p>
            <p class="text-light">
                Trabajamos en toda la Comunidad Autónomia la Región de Murcia.
            </p>
        </div>
        <div class="content c_content px-5 py-3">
            <h3>Ofertas</h3>
            <h5 class="text-secondary">vista nueva</h5>
            <p class="text-light">
                Soluciones completas para ahorrar su consumo de electricidad hasta 50% del coste de tu consumo.
            </p>
            <p class="text-light">
                Somos un grupo de profecionales alta cualificación técnica y gran experiencia en el sector.
            </p>
            <p class="text-light">
                Diseñamos proyecto de nueva Instalación si se considerara esto como mejor opción, para ello le facilitamos detalle de los componentes de la misma y presupuesto del instalador, vd siempre puede elegir instalador.
            </p>
            <p class="text-light">
                Trabajamos en toda la Comunidad Autónomia la Región de Murcia.
            </p>
            <p class="text-light">
                Entrega a instalación.
            </p>
        </div>
    </div>
    
    <!-- - ->
    <div class="trapezoid">
        trapezoid
    </div>
    <!-- -->
    <!-- -->
    <script src="{% static 'third/js/jquery.js' %}"></script>
    <script src="{% static 'third/js/popper.min.js' %}"></script>
    <script src="{% static 'third/js/bootstrap.min.js' %}"></script>
</body>
</html>

